* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  border: 1px solid red;
 

}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links > * {
  margin-left: 2rem;
}

.nav-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
 
  border: 1px solid black;
  border-radius: 5px;


}

.grid {
  display: grid;
  grid-template-columns: 45px 1fr;

  align-items: center;
}

